.asTaskRegister .accordion-container {
  border-radius: 8px;
  background-color: var(--dt-gray02);
  overflow: hidden;
}
.asTaskRegister .accordion-container .accordion-header {
  padding: 22px 20px;
}
.asTaskRegister .accordion-container .accordion-content {
  padding: 0px 20px 22px;
}
.asTaskRegister .accordion-container .accordion-content .row {
  width: 100%;
  border-top: 1px solid var(--dt-gray06);
}
.asTaskRegister .accordion-container .accordion-content .row:first-child {
  padding-top: 16px;
}
.asTaskRegister .timetable {
  background-color: transparent;
  padding: 0;
}
.asTaskRegister .timetable .list-box {
  flex-wrap: nowrap;
}