@import "../scss/base/mixin";
.asTaskRegister {
    //summary con__tit-box 수정
    .con__tit-box {
        .tit-head {
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            .txt-sub {
                font-size: 16px;
                margin-top: 0;
            }
        }
    }
    // 아코디온 수정
    .accordion-container {
        border-radius: 8px;
        background-color: var(--dt-gray02);
        overflow: hidden;
        .accordion-content {
            padding: 0 20px 16px;
            .row {
                width: 100%;
                border-top: 1px solid var(--dt-gray06);
                &:first-child {
                    padding-top: 16px;
                }
            }
        }
    }

    .cont__wrap-service {
        display: flex;
        flex-direction: column;
        gap: 28px;
        .cont__txt-box {
            margin-top: 16px;
            &:first-child {
                margin-top: 0;
            }
        }
    }
}

