@import "../scss/base/mixin";
.asTaskRegister {
    // 아코디온 수정
    .accordion-container {
        border-radius: 8px;
        background-color: var(--dt-gray02);
        overflow: hidden;
        .accordion-header {
            padding: 22px 20px;
        }
        .accordion-content {
            padding: 0px 20px 22px;
            .row {
                width: 100%;
                border-top: 1px solid var(--dt-gray06);
                &:first-child {
                    padding-top: 16px;
                }
            }
        }
    }

    // 날짜선택 칩스
    
}
