@import "../scss/base/mixin";
.page-wrapper {
	&.requestMoveInstall {
		.cont__wrap.cont__wrap-service {
			@include flexColum;
			row-gap:12px;
			padding-bottom:24px;
			.con__tit-box {
				margin-top: 20px;
				margin-bottom: 0;
			}
			&:has( > .inform-wrap) {
				.cont__txt-box {
					&:not(:first-child) {
						margin-top: 16px;
						.txt {
							font-size:18px;
						}
					}
				}
			}
		}
		.list-wrap{
			margin-top:0;
			&:first-of-type {margin-top:12px;}
			.list-box {
				gap:4px 8px;
				.tail {
					max-width: 220px;
				}
			}
		}
		.card.rmPeriod {
			row-gap:10px;
			.card-header .tit {color:var(--dt-black);}
			.item {
				column-gap:0;
				.img-box {
					width:18px;
					min-width:18px;
					height:18px;
					transform:rotate(180deg);
				}
			}
			.list-wrap {
				margin-top:0;
				.list-box .tail {color:var(--dt-gray16);}
			}
			.card-footer {margin-top:12px;}
		}
		.table-cont {
			th, td {
				&:first-child {width:25%;}
				&.txt-amount {width:30%;} //금액
			}
		}

		.input-col-wrap .input-control:first-of-type {
			margin-top:4px;
		}
		.slct-box-wrap {
			justify-content:flex-start;
			column-gap: 4px;

			&:has(.slct-box:first-child:last-child) .slct-box {
				width:max-content;
				max-width:max-content;
			}
			&:has(.slct-box:nth-child(2):last-child) .slct-box {
				width:max-content;
			}
		}
		.chckbox-wrap {
			margin:4px 0 12px;
		}
	}
}
