<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1.0">
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<title>LGU+ 보이는 ARS</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../../../static/css/serviceEnd.css">

	<!-- Scripts -->
</head>

<body>
<div class="page-wrapper">
	<!-- container -->
	<div class="container">
		<div class="section__cont">
			<div class="cont__wrap serviceEnd">
				<div class="img-box">
					<img src="../../../static/images/img/logo-md.svg">
				</div>
				<div class="tit-head">
					입력하신 정보가 일치하지 않거나, 법인/비가입자는 서비스 이용이 제한되어 음성 ARS로 연결됩니다.
				</div>
			</div>
			
		</div>
	</div>
	<!-- //container -->
</div>

</body>

</html>
